h1{
  text-align: center;
  margin-top: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:xx-large;
  color: white;
}

h3{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   color: white;
}

body{
  background-image: url("img/back.jpg");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

p{
    letter-spacing:1.9cm;
    font-weight: bold;
    font-size: 120%;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div{
    margin-top: 50px;
    text-align: center;

}

audio::-webkit-media-controls-panel {
    background-color: #725c95;
    right: 50%;
}

footer{
  text-align: center;
  margin-top: 20px;
}
.container{
    background-color: aliceblue;
    opacity: 0.5;
    margin: auto;
    text-align: center;

}

.loader{
  text-align: center;
  margin: auto;
  bottom: 50px;
}
.start{
  background-color:  #725c95;
  color: white;
  margin-bottom: 10px;
  font-size: xx-large;

}


.GifLoader{
  height: 100%;
  background-position: center;
  background-size: cover;
}